/* Custom Stylesheet hash:16298954011629894915 dated 17 Nov, 2022 13:34:44+UTC */
body {
  background: #20184C;
  color: #fff;
}
.color--texthead,
.fieldset__legend {
  color: #fff;
}
a,
button {
  transition: all 0.3s ease 0s !important;
  -moz-transition: all 0.3s ease 0s !important;
  -webkit-transition: all 0.3s ease 0s !important;
}
.wrap--body,
.header__top {
  padding-left: 25px;
  padding-right: 25px;
}
.wrap {
  max-width: 1040px;
}
.container {
  background: #20184C;
}
.header__top {
  background-color: #170F3E;
  border: none;
}
.admin-bar--gray,
.admin-bar--blue {
  background-color: #1c3049;
}
.search--home,
.search--self {
  background-color: #1c3049;
  border-bottom: 1px #1c3049 solid;
}
.search-wrapmobile {
  display: none;
}
.search-wrapmobile + .wrap--body {
  display: none !important;
}

.heading,
h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: 500;
}
input:not([type='number']).textfield {
  height: 40px;
}
.textfield--heading {
  padding: 10px;
}
.textfield--heading,
.textfield {
  border-radius: 4px;
  border: 1px solid #465069;
  background-color: transparent;
  color: #fff !important;
}
.select,
.drill-default {
  border-radius: 4px;
  border: 1px solid #465069;
  background: none;
  color: #fff !important;
  height: 40px;
}
.select:focus,
.drill-default:focus {
  border-radius: 4px;
  border: 1px solid #43F79A;
  background: none;
  outline: none !important;
  color: #fff !important;
}
.select:focus,
.drill-default:focus,
.select:active,
.drill-default:active {
  box-shadow: none !important;
  outline: none !important;
}
.select-wrapper:before {
  top: 15px;
}
.inputaddon__field {
  background: none;
  box-shadow: none;
}
.inputaddon__field--big {
  border-radius: 4px 0 0 4px;
}
.inputaddon__field,
.inputaddon__item {
  border: 1px solid #465069;
}
.inputaddon__field:focus,
.inputaddon__item:focus {
  border: 1px solid #43F79A;
  outline: none !important;
}
.search .inputaddon__item.button {
  background: #43F79A;
  border-color: #43F79A;
  color: #fff;
  border-radius: 0 4px 4px 0;
}
.search .inputaddon__item.button:hover {
  background: #36a6fe;
  border-color: #36a6fe;
}
a.button,
span.button {
  line-height: 2;
}
.button {
  height: 40px;
  transition: all 0.3s ease 0s;
  padding-top: 4px;
}
input.button {
  padding-top: 0;
}
.button--primary {
  box-shadow: none !important;
  border-color: #43F79A !important;
}
.button--primary:hover {
  box-shadow: none !important;
  background: #36a6fe;
  border-color: #36a6fe;
}
button.button {
  height: 40px !important;
  line-height: 26px !important;
}
.share .button {
  height: 26px !important;
}

.inputaddon__field--wide:focus + .inputaddon__item--borderless {
  background: #43F79A !important;
  border-color: #43F79A !important;
  outline: none !important;
}
.textfield--error,
.textfield--error:focus {
  box-shadow: none !important;
  border-color: #f85371 !important;
  outline: none !important;
}
.textfield__label--error .textfield,
.textfield__label--error .textfield--textarea {
  box-shadow: none !important;
  border-color: #f85371 !important;
}
.textfield:focus,
.search-wrapslim .inputaddon__field:focus,
.file-btn:focus,
.file-btn.is-active,
.dz-drag-hover {
  box-shadow: none !important;
}
.textfield__label--error {
  color: #f85371 !important;
}
.textfield__label {
  color: #fff;
}
.signin-link,
.signin-link--wide,
.signin-link--toast,
.graybar--slim {
  background-color: #1c3049;
  color: #fff;
}
.home-category {
  background-color: #1c3049;
  border-radius: 4px;
  padding: 1.4em 1.3em;
}
.edit-cat {
  top: 1.3em;
  right: 1.3em;
}
.home-category[role='admin']:hover {
  background-color: #173350;
}
.layout--home {
  margin-left: 0;
}

.textfield--auto + .icon {
  background: none;
  height: 38px;
  width: 34px;
  border-left: 1px #4b556d solid;
  background: #20184C;
  border-radius: 0 5px 5px 0;
}
.textfield--auto + .icon:before {
  position: relative;
  top: 5px;
  left: 4px;
}
.autocomplete--field__item {
  color: #20184C;
}
.ruled {
  border-color: #4b556d;
}
hr {
  background: #4b556d;
}
.divider__text {
  color: #4b556d;
  background: #20184C;
}
.listing--requests > * {
  border-color: #4b556d;
}
.search-wrapslim {
  border-color: #4b556d;
}
.article__vote,
.fieldset__divider,
.tab__wrap {
  border-color: #4b556d;
}
.fieldset__divider {
  margin-left: 0;
}
.file-btn,
.file-btn:after {
  background: none;
  border-color: #465069;
}

button.button--signin--google {
  background: #dc4e41;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dc4e41),
    to(#d34a3d)
  );
  background: linear-gradient(to bottom, #dc4e41 0%, #d34a3d 100%);
  border-color: #dc4e41;
}
.button--signin--google:hover:enabled,
.button--signin--google:active:enabled,
.button--signin--google:focus:enabled {
  background: #a14240;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a14240),
    to(#9b403e)
  );
  background: linear-gradient(to bottom, #a14240 0%, #9b403e 100%);
  border-color: #a24341;
}
.alert-box--overlay {
  width: calc(100% - 50px);
}
.deflist {
  color: #fff;
}
.loader-overlay {
  background: none;
}
.footer {
  background: #170F3E;
  border: none;
}
.footer img {
  margin: 0 auto;
  height: 20px;
  width: auto;
}
a, a:hover, a:focus, a:active, .u-visuallink, .u-visuallink:hover,
.heading--blue,
.fr-toolbar .fr-command.fr-btn.fr-active,
.fr-popup .fr-command.fr-btn.fr-active,
.fr-desktop .fr-command.fr-active:hover,
.fr-desktop .fr-command.fr-active:focus,
.fr-desktop .fr-command.fr-active.fr-selected,
.fr-popup .fr-colors-tabs .fr-colors-tab:hover,
.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab,
.tab__notCurrent a:hover {
	color: #43f79a;
}

.button--primary,
.button--primary:hover:enabled,
.button--primary:focus:enabled,
.button--primary:active:enabled,
.nav__menu a:hover, .nav__menu a:active, .dd__link:hover,
.fr-popup .fr-checkbox input:checked + span,
.fr-popup .fr-colors-tabs .fr-colors-tab[data-param1="background"]::after,
.fr-image-resizer .fr-handler,
.fr-image-progress-bar-layer > div.fr-loader span,
.autocomplete--field__item:hover, .autocomplete--field__item.is-selected {
	background-color: #43f79a;
}

.textfield:focus,
.search-wrapslim .inputaddon__field:focus,
.file-btn:focus, .file-btn.is-active, .dz-drag-hover {
	border-color: #43f79a;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 4px -1px #43f79a;
}

.button--primary:focus:enabled, .button--primary:active:enabled,
.select:focus, .drill-default:focus, .drill-default.drill-focus {
	box-shadow: 0 0 3px 0 #43f79a;
}

.tab > li,
.textfield.picker__input--active,
.textfield--heading:focus,
.pager__selected,
.tab__notCurrent:hover,
.picker__select--month:focus, .picker__select--year:focus,
.picker__day--highlighted, .picker__day--selected:hover,
.picker--focused .picker__day--selected, .picker__button--clear:focus,
.picker__button--close:focus,
.fr-popup .fr-input-line input[type="text"]:focus,
.fr-popup .fr-input-line textarea:focus,
.fr-popup .fr-checkbox input:checked + span,
.fr-popup .fr-checkbox input:focus + span,
.fr-image-resizer, .fr-image-upload-layer.fr-drop,
table td.fr-selected-cell, table th.fr-selected-cell,
.fr-table-resizer div,
.fr-popup .fr-table-size .fr-select-table-size > span.hover > span {
	border-color: #43f79a;
}

input[type="checkbox"].switch:focus + div {
	box-shadow: 0 0 .2em 1px #43f79a, 0 1px 1px hsla(0,0%,100%,.6);
}

.picker__day--today:before,
.picker__button--today:before {
	border-top-color: #43f79a;
}